# Django
DJANGO_SECRET_KEY=change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
# MSSQL
DB_NAME=ada_db
DB_USER=sa
DB_PASSWORD=YourStrongPassword!
DB_HOST=localhost
DB_PORT=1433
ODBC_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_CERT=yes
# Azure Entra ID (Azure AD) OIDC
AZURE_TENANT_ID=YOUR_TENANT_GUID
AZURE_CLIENT_ID=YOUR_APP_CLIENT_ID
AZURE_CLIENT_SECRET=YOUR_APP_CLIENT_SECRET
