{% extends "base.html" %}
{% block content %}
<h2>Search</h2>
<form class="row g-3" method="get" action="{% url 'search_riders' %}">
  <div class="col-12 col-md-3">
    <label class="form-label">Search by</label>
    <select class="form-select" name="by" id="id_by">
      <option value="name">ADA Rider Name</option>
      <option value="id">ADA Rider ID</option>
    </select>
  </div>
  <div class="col-12 col-md-3" id="name_fields">
    <label class="form-label">First Name</label>
    <input class="form-control" type="text" name="first_name">
  </div>
  <div class="col-12 col-md-3" id="last_field">
    <label class="form-label">Last Name</label>
    <input class="form-control" type="text" name="last_name">
  </div>
  <div class="col-12 col-md-3 d-none" id="id_field">
    <label class="form-label">ADA ID</label>
    <input class="form-control" type="text" name="ada_id">
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Search</button>
    <a class="btn btn-secondary" href="{% url 'rider_create' %}">Add New Rider</a>
    <a class="btn btn-outline-dark" href="{% url 'finance_transmittal' %}">Finance Transmittal Report</a>
  </div>
</form>

<script>
  const bySelect = document.getElementById('id_by');
  const nameFields = document.getElementById('name_fields');
  const lastField = document.getElementById('last_field');
  const idField = document.getElementById('id_field');
  function toggleFields() {
    if (bySelect.value === 'id') {
      nameFields.classList.add('d-none');
      lastField.classList.add('d-none');
      idField.classList.remove('d-none');
    } else {
      nameFields.classList.remove('d-none');
      lastField.classList.remove('d-none');
      idField.classList.add('d-none');
    }
  }
  bySelect.addEventListener('change', toggleFields);
  toggleFields();
</script>
{% endblock %}
